
        .div-1 {
            color: #b5f5ec;
            text-align: center;
            background-color: #08979c;
            
        }
        #footer{  color: #b5f5ec;
            text-align: center;
            background-color: #08979c;
            line-height: 60px;
        }
        #logo {
            width: 16px;
            height: 16px;
            line-height: 60px;
            vertical-align: middle;
        }

        #header-title {
            vertical-align: middle;
            line-height: 64px;
            height: 32px;
            font-size: 16px;
        }
        #div{ background-color: #87e8de;}

         .div-l{float: left;
            vertical-align: top;
            position: sticky;top: 0;
            overflow: auto;
            
            width: 10%;
            background-color: #87e8de;
            margin-right: 0px;
            font-size: 12px;
            color: #002766;
            font-weight: bold;
        }
        
      .div-r{float: right;
          width: 85%;
          background-color: #b5f5ec;
          padding-inline-start: 2.5%;
          padding-inline-end: 2.5%;
        }
        .div-r p{ text-indent: 35px}

        .div-r h4{
        margin: 0;}

        .clear{ clear:both} 

        .table {
            border-collapse: collapse;
            width: 60%;
            margin: 0 auto;   /*水平居中*/
            margin-top: 5%;
            
        }


        .tr td::before {content:"￥";}

        .img {
            max-width: 50%;/* 图片最大为原始图片的50%*/
            width: 100px;
           
            display: block;
            
        }
  
        body {
           width: 100%;
           height: 100%;
            margin: 0;
            padding: 0;
        }

       

        ul {float: left;
            margin: 0;
            padding: 0;
            width: 100%;
            
            
        }

        li{
            text-align: center;
            border-bottom: 1px solid #595959;
        }

        li:last-child {
            border-bottom: none;
        }

        li a {
            display: block;
            color: #000;
            padding: 6px 15px;
            text-decoration: none;
            background-color: #87e8de;
        }
       
       /*鼠标悬停变色 */
        li a:hover {
            background-color: black;
            color: #87e8de;
        }

        /*鼠标点击时变色 */
        li a:active
        {
	background-color:white;
        }
     
    
       /*首字符大写*/
        #fp:first-letter {
            font-size: 32px;
            font-weight: bold;
        }
      