
        .div-1 {
            color: white;
            text-align: center;
            background-color: #08979c;
            height: 40px;
            padding-top: 8px;
            padding-bottom: 8px;
        }

         .div-l{float: left;
            font-weight: bold;
            vertical-align: top;
            width: 15%;
            height: 0px;
            background-color: #87e8de;
            margin-right: 0px;
           
        }
        .div-r{float: right;
          width: 85%;
          background-color: #b5f5ec;
          padding-inline-start: 15px;
          padding-inline-end: 15px;
          text-indent: 35px
        }

        .clear{ clear:both} 

        .table {
            border-collapse: collapse;
            width: 60%;
            margin: 0 auto;   /*水平居中*/
            margin-top: 5%;
        }
       table>td{
           text-align:center;
       }

        .tr td::before {content:"￥";}

        .img {
            margin: 0 auto;
            display: block;
            width: 40%
        }
  
       html, body {
            margin: 0;
            padding: 0;
        }

       

        ul {float: left;
            margin: 0;
            padding: 0;
            width: 15%;
            position: fixed;
            height: 40%;
            overflow: auto;
            
        }
        

        li a {
            display: block;
            color: #000;
            padding: 6px 15px;
            text-decoration: none;
            background-color: #87e8de;
        }
       
        li a.active { 
            background-color: #4CAF50;
            color: gray;
        }
       /*鼠标悬停变色 */
        li a:hover:not(.active) {
            background-color: black;
            color: #87e8de;
        }

        #fp:first-letter {
            font-size: 32px;
            font-weight: bold;
        }
      